In [45]:
import numpy as np
import pandas as pd

s1 = pd.Series(np.arange(4.0,step=1.0),index=['a','b','c','d'])
s1

a    0.0
b    1.0
c    2.0
d    3.0
dtype: float64

In [46]:
display(s1)

a    0.0
b    1.0
c    2.0
d    3.0
dtype: float64

In [47]:
s1['a']

0.0

In [48]:
s1[['a','b','d']]

a    0.0
b    1.0
d    3.0
dtype: float64

In [49]:
s1[-2:] *= 2

In [50]:
s1

a    0.0
b    1.0
c    4.0
d    6.0
dtype: float64

In [63]:
np.reshape(np.arange(16),(4,4))#變二維資料
#np.reshape(np.arange(16),(2,8))#變二維資料
#要用二個funthon,不般不會用這個方法

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15]])

In [61]:
data = np.arange(16).reshape((4,4))
dataFrame = pd.DataFrame(data,
             index=['台北','台中','台南','高雄'],
             columns = ['one','two','three','four'])
display(dataFrame)

    one  two  three  four
台北    0    1      2     3
台中    4    5      6     7
台南    8    9     10    11
高雄   12   13     14    15