In [ ]:
import numpy as np
import pandas as pd
scroes = np.random.randint(50,100,size=(50,5))
scroes_df = pd.DataFrame(scroes,
             columns=['國文','英文','數學','地理','歷史'],
             index=range(1,51))
scroes_df
sum_value = scroes_df.sum(axis=1) #當axis=0時，代表每一縱行去做運算 當axis=1時 代表每一橫列去做
mean_value = scroes_df.mean(axis=1) #mean平均數

scroes_df['總分'] = sum_value
scroes_df['平均'] = mean_value
scroes_df

In [5]:
scroes_df.sort_values(by='總分',ascending=False).iloc[:5]# ascending排序,預設為true,由小到大,要由大到小故要指定為false , iloc~前5名
scroes_df.sort_values(by='總分',ascending=False).iloc[-5:]#後5名

    國文  英文  數學  地理  歷史   總分    平均
38  50  65  62  58  90  325  65.0
44  66  67  66  53  66  318  63.6
25  58  64  87  58  51  318  63.6
9   55  73  63  75  50  316  63.2
15  50  50  83  75  55  313  62.6

In [8]:
#平均小於70 使用subscritp[],過濾資料
scroes_df[scroes_df['平均'] < 70]

    國文  英文  數學  地理  歷史   總分    平均
1   65  61  85  70  58  339  67.8
2   79  57  71  60  65  332  66.4
8   77  54  60  61  88  340  68.0
9   55  73  63  75  50  316  63.2
11  55  79  78  52  80  344  68.8
12  65  78  57  59  77  336  67.2
15  50  50  83  75  55  313  62.6
23  86  52  76  65  69  348  69.6
24  69  56  65  89  53  332  66.4
25  58  64  87  58  51  318  63.6
28  96  59  59  70  65  349  69.8
33  55  61  90  84  52  342  68.4
38  50  65  62  58  90  325  65.0
41  64  56  76  84  61  341  68.2
44  66  67  66  53  66  318  63.6
49  56  58  80  72  83  349  69.8

In [10]:
#使用subscritp[]的搜尋方式,過濾資料
#平均小於80,且歷史不及格
scroes_df[(scroes_df['平均'] < 80) & (scroes_df['歷史'] < 60 )]

    國文  英文  數學  地理  歷史   總分    平均
1   65  61  85  70  58  339  67.8
5   82  72  93  85  56  388  77.6
9   55  73  63  75  50  316  63.2
15  50  50  83  75  55  313  62.6
16  53  94  94  80  58  379  75.8
24  69  56  65  89  53  332  66.4
25  58  64  87  58  51  318  63.6
31  61  74  80  90  52  357  71.4
33  55  61  90  84  52  342  68.4
37  91  67  72  81  59  370  74.0
39  94  78  88  63  57  380  76.0
45  93  74  57  98  57  379  75.8

In [11]:
#使用query()實體方法的搜尋
scroes_df.query('平均<80')

    國文  英文  數學  地理  歷史   總分    平均
1   65  61  85  70  58  339  67.8
2   79  57  71  60  65  332  66.4
4   93  56  55  70  96  370  74.0
5   82  72  93  85  56  388  77.6
8   77  54  60  61  88  340  68.0
9   55  73  63  75  50  316  63.2
10  65  80  99  65  70  379  75.8
11  55  79  78  52  80  344  68.8
12  65  78  57  59  77  336  67.2
13  81  75  90  62  60  368  73.6
14  73  63  51  77  99  363  72.6
15  50  50  83  75  55  313  62.6
16  53  94  94  80  58  379  75.8
17  60  92  68  92  68  380  76.0
19  96  72  91  51  61  371  74.2
20  67  87  75  65  95  389  77.8
22  90  80  50  54  80  354  70.8
23  86  52  76  65  69  348  69.6
24  69  56  65  89  53  332  66.4
25  58  64  87  58  51  318  63.6
26  76  53  70  93  84  376  75.2
27  68  62  83  67  98  378  75.6
28  96  59  59  70  65  349  69.8
30  83  56  82  56  95  372  74.4
31  61  74  80  90  52  357  71.4
32  85  67  80  54  98  384  76.8
33  55  61  90  84  52  342  68.4
34  98  91  60  51  97  397  79.4
36  92  82  61  58  87  380  76.0
37  91  67  72  81  59  370  74.0
38  50  65  62  58  90  325  65.0
39  94  78  88  63  57  380  76.0
40  57  81  86  64  71  359  71.8
41  64  56  76  84  61  341  68.2
42  87  93  69  53  75  377  75.4
43  81  79  78  84  68  390  78.0
44  66  67  66  53  66  318  63.6
45  93  74  57  98  57  379  75.8
48  93  74  85  80  67  399  79.8
49  56  58  80  72  83  349  69.8

In [13]:
#使用query()實體方法的搜尋
scroes_df.query('平均<80 and 歷史<60')

    國文  英文  數學  地理  歷史   總分    平均
1   65  61  85  70  58  339  67.8
5   82  72  93  85  56  388  77.6
9   55  73  63  75  50  316  63.2
15  50  50  83  75  55  313  62.6
16  53  94  94  80  58  379  75.8
24  69  56  65  89  53  332  66.4
25  58  64  87  58  51  318  63.6
31  61  74  80  90  52  357  71.4
33  55  61  90  84  52  342  68.4
37  91  67  72  81  59  370  74.0
39  94  78  88  63  57  380  76.0
45  93  74  57  98  57  379  75.8