In [4]:
import numpy as np
import pandas as pd

s1 = pd.Series(np.random.randn(9),
          index=[['a','a','a','b','b','c','c','d','d'],[1,2,3,1,2,3,1,2,3]]
          ) # np.random.randn 常態分布的亂數

In [5]:
s1.index

MultiIndex([('a', 1),
            ('a', 2),
            ('a', 3),
            ('b', 1),
            ('b', 2),
            ('c', 3),
            ('c', 1),
            ('d', 2),
            ('d', 3)],
           )

In [6]:
display(s1) #displya不能在py檔執行,只能在ipynb

a  1   -0.359886
   2   -0.591958
   3   -0.097397
b  1    1.983839
   2    0.018078
c  3    0.763442
   1   -0.460211
d  2    1.412651
   3   -0.576562
dtype: float64

In [7]:
s1['a']

1   -0.359886
2   -0.591958
3   -0.097397
dtype: float64

In [9]:
s1[['b','c']] #外面[]是subscribe,裡面[]才是list

b  1    1.983839
   2    0.018078
c  3    0.763442
   1   -0.460211
dtype: float64

In [11]:
s1['b':'d']

b  1    1.983839
   2    0.018078
c  3    0.763442
   1   -0.460211
d  2    1.412651
   3   -0.576562
dtype: float64

In [16]:
display(s1)
s1['a'][3]

a  1   -0.359886
   2   -0.591958
   3   -0.097397
b  1    1.983839
   2    0.018078
c  3    0.763442
   1   -0.460211
d  2    1.412651
   3   -0.576562
dtype: float64

-0.09739682427332405

In [17]:
s1.loc['b',1] #loc是列

1.9838388077528692

In [18]:
s1.unstack() #把長資料變成表格資料,裡面沒有內容的會以NaN表示

          1         2         3
a -0.359886 -0.591958 -0.097397
b  1.983839  0.018078       NaN
c -0.460211       NaN  0.763442
d       NaN  1.412651 -0.576562

In [23]:
s1.unstack(level=0) #軸欄與列對調也可用大T處理
s1.unstack(level=0).T.stack()

a  1   -0.359886
   2   -0.591958
   3   -0.097397
b  1    1.983839
   2    0.018078
c  1   -0.460211
   3    0.763442
d  2    1.412651
   3   -0.576562
dtype: float64

In [24]:
s1.unstack(level=0)

          a         b         c         d
1 -0.359886  1.983839 -0.460211       NaN
2 -0.591958  0.018078       NaN  1.412651
3 -0.097397       NaN  0.763442 -0.576562

In [28]:
s1.unstack(level=0).T.stack()

a  1   -0.359886
   2   -0.591958
   3   -0.097397
b  1    1.983839
   2    0.018078
c  1   -0.460211
   3    0.763442
d  2    1.412651
   3   -0.576562
dtype: float64