In [10]:

import numpy as np
import pandas as pd

scores = np.random.randint(40, high=101, size=(50, 5))
scores_df = pd.DataFrame(scores,
    columns=['國文', '英文', '數學', '地理', '歷史'],
    index=range(1,51))
scores_df.index.name = "學號"
scores_df.columns.name="科目"
sum_series = scores_df.sum(axis=1)
mean_series = scores_df.mean(axis=1)
#display(sum_series)
rank_series = sum_series.rank(method='min',ascending=False)
scores_df["總分"] = sum_series
scores_df["平均"] = mean_series
scores_df["名次"] = rank_series
scores_df.sort_values(by='名次')

科目   國文   英文  數學   地理  歷史   總分    平均    名次
學號
6    95  100  76   72  77  420  84.0   1.0
27   90   99  88   60  80  417  83.4   2.0
50  100   79  92   98  43  412  82.4   3.0
34   85   92  63   77  88  405  81.0   4.0
48  100   79  65   74  86  404  80.8   5.0
23   98   71  79   55  99  402  80.4   6.0
44   83   66  89   74  87  399  79.8   7.0
29   93   86  73   48  99  399  79.8   7.0
32   73   96  70   60  98  397  79.4   9.0
25   88   65  90   93  61  397  79.4   9.0
13   66   84  98   76  67  391  78.2  11.0
49   86   92  96   55  59  388  77.6  12.0
9    61   79  93   69  84  386  77.2  13.0
41   98   68  91   56  71  384  76.8  14.0
46   47   91  56   89  99  382  76.4  15.0
36   65   72  58   99  76  370  74.0  16.0
3    96   76  48   92  54  366  73.2  17.0
7    52   52  68   94  97  363  72.6  18.0
21   89   89  41   47  95  361  72.2  19.0
31   92   64  59   95  49  359  71.8  20.0
5    83   55  88   40  89  355  71.0  21.0
22   76   49  87   74  68  354  70.8  22.0
11   63   80  48   97  64  352  70.4  23.0
40   71   96  48   62  72  349  69.8  24.0
33   48   85  55   69  89  346  69.2  25.0
39   60   69  69   92  54  344  68.8  26.0
14   54   92  98   50  46  340  68.0  27.0
16   87   61  91   53  45  337  67.4  28.0
43   46   60  76   56  95  333  66.6  29.0
1    97   51  68   66  47  329  65.8  30.0
20   89   73  44   68  54  328  65.6  31.0
2    65   65  41   74  82  327  65.4  32.0
24   89   65  43   54  74  325  65.0  33.0
35   80   58  43   99  42  322  64.4  34.0
8    62   88  70   58  43  321  64.2  35.0
18   43   77  47   68  82  317  63.4  36.0
42   52   47  40   93  84  316  63.2  37.0
45   76   75  51   65  45  312  62.4  38.0
30   50   43  69  100  45  307  61.4  39.0
26   43   73  67   50  71  304  60.8  40.0
4    67   69  78   48  42  304  60.8  40.0
28   77   55  67   46  54  299  59.8  42.0
37   40   64  71   63  55  293  58.6  43.0
15   77   48  57   41  68  291  58.2  44.0
38   89   43  54   47  52  285  57.0  45.0
19   56   49  64   56  55  280  56.0  46.0
10   60   44  69   45  59  277  55.4  47.0
47   45   44  63   54  69  275  55.0  48.0
17   47   50  58   49  60  264  52.8  49.0
12   51   49  55   51  56  262  52.4  50.0

In [19]:
scores_df[['國文', '英文', '數學', '地理', '歷史']]

科目   國文   英文  數學   地理  歷史
學號
1    97   51  68   66  47
2    65   65  41   74  82
3    96   76  48   92  54
4    67   69  78   48  42
5    83   55  88   40  89
6    95  100  76   72  77
7    52   52  68   94  97
8    62   88  70   58  43
9    61   79  93   69  84
10   60   44  69   45  59
11   63   80  48   97  64
12   51   49  55   51  56
13   66   84  98   76  67
14   54   92  98   50  46
15   77   48  57   41  68
16   87   61  91   53  45
17   47   50  58   49  60
18   43   77  47   68  82
19   56   49  64   56  55
20   89   73  44   68  54
21   89   89  41   47  95
22   76   49  87   74  68
23   98   71  79   55  99
24   89   65  43   54  74
25   88   65  90   93  61
26   43   73  67   50  71
27   90   99  88   60  80
28   77   55  67   46  54
29   93   86  73   48  99
30   50   43  69  100  45
31   92   64  59   95  49
32   73   96  70   60  98
33   48   85  55   69  89
34   85   92  63   77  88
35   80   58  43   99  42
36   65   72  58   99  76
37   40   64  71   63  55
38   89   43  54   47  52
39   60   69  69   92  54
40   71   96  48   62  72
41   98   68  91   56  71
42   52   47  40   93  84
43   46   60  76   56  95
44   83   66  89   74  87
45   76   75  51   65  45
46   47   91  56   89  99
47   45   44  63   54  69
48  100   79  65   74  86
49   86   92  96   55  59
50  100   79  92   98  43

In [35]:
def fun1(series:pd.Series) -> int: 
    min = series.min()
    median = series.median()
    max = series.max()  
    s1 = pd.Series([min,median,max],index=["最低分","中間值","最高分"])
    return s1

subject_df = scores_df[['國文', '英文', '數學', '地理', '歷史']]

frame1 = subject_df.apply(fun1)
frame1

科目      國文     英文    數學     地理    歷史
最低分   40.0   43.0  40.0   40.0  42.0
中間值   74.5   69.0  67.5   64.0  68.0
最高分  100.0  100.0  98.0  100.0  99.0

In [36]:
def fun2(series:pd.Series) -> pd.Series:
    lessThen60 = series[series<60].count()
    return pd.Series([lessThen60],index=['不及格科目'])

display(subject_df.T)
subject_df.T.apply(fun2)

學號,1,2,3,4,5,6,7,8,9,10,...,41,42,43,44,45,46,47,48,49,50
科目,,,,,,,,,,,,,,,,,,,,,
國文,97,65,96,67,83,95,52,62,61,60,...,98,52,46,83,76,47,45,100,86,100
英文,51,65,76,69,55,100,52,88,79,44,...,68,47,60,66,75,91,44,79,92,79
數學,68,41,48,78,88,76,68,70,93,69,...,91,40,76,89,51,56,63,65,96,92
地理,66,74,92,48,40,72,94,58,69,45,...,56,93,56,74,65,89,54,74,55,98
歷史,47,82,54,42,89,77,97,43,84,59,...,71,84,95,87,45,99,69,86,59,43

學號,1,2,3,4,5,6,7,8,9,10,...,41,42,43,44,45,46,47,48,49,50
不及格科目,2,1,2,2,2,0,2,2,0,3,...,1,3,2,0,2,2,3,0,2,1

In [39]:
def fun2(series:pd.Series) -> pd.Series:
    lessThen60 = series[series<60].count()
    chinese ="及格" if(series['國文'] >= 60) else '不及格'
    english ="及格" if(series['英文'] >= 60) else '不及格'

    return pd.Series([lessThen60,chinese,english],index=['不及格科目數','國文','英文'])

display(subject_df.T)
subject_df.T.apply(fun2).T

學號,1,2,3,4,5,6,7,8,9,10,...,41,42,43,44,45,46,47,48,49,50
科目,,,,,,,,,,,,,,,,,,,,,
國文,97,65,96,67,83,95,52,62,61,60,...,98,52,46,83,76,47,45,100,86,100
英文,51,65,76,69,55,100,52,88,79,44,...,68,47,60,66,75,91,44,79,92,79
數學,68,41,48,78,88,76,68,70,93,69,...,91,40,76,89,51,56,63,65,96,92
地理,66,74,92,48,40,72,94,58,69,45,...,56,93,56,74,65,89,54,74,55,98
歷史,47,82,54,42,89,77,97,43,84,59,...,71,84,95,87,45,99,69,86,59,43

   不及格科目數   國文   英文
學號
1       2   及格  不及格
2       1   及格   及格
3       2   及格   及格
4       2   及格   及格
5       2   及格  不及格
6       0   及格   及格
7       2  不及格  不及格
8       2   及格   及格
9       0   及格   及格
10      3   及格  不及格
11      1   及格   及格
12      5  不及格  不及格
13      0   及格   及格
14      3  不及格   及格
15      3   及格  不及格
16      2   及格   及格
17      4  不及格  不及格
18      2  不及格   及格
19      4  不及格  不及格
20      2   及格   及格
21      2   及格   及格
22      1   及格  不及格
23      1   及格   及格
24      2   及格   及格
25      0   及格   及格
26      2  不及格   及格
27      0   及格   及格
28      3   及格  不及格
29      1   及格   及格
30      3  不及格  不及格
31      2   及格   及格
32      0   及格   及格
33      2  不及格   及格
34      0   及格   及格
35      3   及格  不及格
36      1   及格   及格
37      2  不及格   及格
38      4   及格  不及格
39      1   及格   及格
40      1   及格   及格
41      1   及格   及格
42      3  不及格  不及格
43      2  不及格   及格
44      0   及格   及格
45      2   及格   及格
46      2  不及格   及格
47      3  不及格  不及格
48      0   及格   及格
49      2   及格   及格
50      1   及格   及格

In [ ]:
s1 = subject_df.T[3]