In [6]:
import numpy as np
import pandas as pd

frame = pd.DataFrame(np.random.randn(4,3),
             columns = ['d','f','e'],
             index=['台北','台中','台南','高雄'])
frame

           d         f         e
台北  2.376338  0.554522  1.521942
台中 -1.607708  1.015019  0.257298
台南  1.471971  0.438044  0.259279
高雄 -1.313232 -0.152813  1.207519

In [7]:
np.absolute(frame) #絶對值

           d         f         e
台北  2.376338  0.554522  1.521942
台中  1.607708  1.015019  0.257298
台南  1.471971  0.438044  0.259279
高雄  1.313232  0.152813  1.207519

In [28]:
#使用for in 讀取DataFrame
for column in frame: 
    for item in frame[column]: 
        print(item)
    print('========')

2.3763376083154952
-1.6077080579564482
1.471970753554801
-1.3132318650757866
========
0.5545216049072158
1.0150194003967414
0.4380441139113133
-0.1528126615102143
========
1.521942346817383
0.25729800050682916
0.25927852163892373
1.2075185196196905
========

In [29]:
#使用for in 讀取DataFrame
for column in frame: 
    print(np.abs(frame[column]))

台北    2.376338
台中    1.607708
台南    1.471971
高雄    1.313232
Name: d, dtype: float64
台北    0.554522
台中    1.015019
台南    0.438044
高雄    0.152813
Name: f, dtype: float64
台北    1.521942
台中    0.257298
台南    0.259279
高雄    1.207519
Name: e, dtype: float64

In [30]:
np.max(frame,axis=0)

d    2.376338
f    1.015019
e    1.521942
dtype: float64

In [31]:
np.max(frame,axis=1)

台北    2.376338
台中    1.015019
台南    1.471971
高雄    1.207519
dtype: float64

In [32]:
#使用numpy的function
np.max(frame,axis=0) - np.min(frame,axis=0)

d    3.984046
f    1.167832
e    1.264644
dtype: float64

In [33]:
#使用dataFrame的method
frame.max(axis=0) - frame.min(axis=0)

d    3.984046
f    1.167832
e    1.264644
dtype: float64

In [38]:
def fun1(series):
    print(series.name)
    return series.max() - series.min() + 1

frame.apply(fun1)

d
f
e

d    4.984046
f    2.167832
e    2.264644
dtype: float64